.footer
	background: #231f20
	height: $footer-height
	padding-top: 52px
	box-sizing: border-box
	min-width: $min-width
	.col-md-12, .col-md-4, .col-md-8
		padding: 0
	&__logo
		display: block
		float: left
		img
			max-width: 100%
	&__menu
		color: $white
		font-size: 16px
		ul
			box-sizing: border-box
			padding-top: 3px
			padding-left: 16px
			li
				display: block
				float: left
				margin-right: 111px
				a
					display: block
					color: inherit
					text-decoration: none
					position: relative
					&:after
						content: ''
						display: block
						width: 100%
						height: 1px
						background: $white
						position: absolute
						bottom: 2px
						left: 0
					&:hover
						&:after
							display: none
				&:last-child
					margin-right: 0
	&__partners
		color: $white
		font-size: 14px
		text-transform: uppercase
		padding-top: 36px
		display: table
	&__partners-list
		box-sizing: border-box
		padding-left: 15px
		padding-top: 25px
		a
			display: block
			float: left
			box-sizing: border-box
			margin-right: 21px
			border: 1px solid $white
			+transition(0.3s ease-in-out)
			&:hover
				border: 1px solid #ed1c24
			&:last-child
				margin-right: 0
	&__copyright
		text-align: center
		margin-top: 38px
		margin-bottom: 35px
		font-size: 12px
		color: #b1b0b0
		span
			margin-left: -88px
		a
			color: inherit
			text-decoration: none
			position: relative
			&:after
				content: ''
				display: block
				width: 100%
				height: 2px
				background: #b1b0b0
				position: absolute
				left: 0
				bottom: 0