.header
	border-top: 1px solid #186784
	padding-bottom: 10px
	background: $white
	position: fixed
	width: 100%
	z-index: 999
	top: 0
	left: 0
	box-shadow: 0 6px 13px 0 rgba(0,0,0, 0.1)
	min-width: $min-width
	.container
		position: relative
	&__logo
		margin-left: -13px
		display: block
		margin-top: 12px
		img
	&__menu
		font-size: 15px
		color: #231f20
		ul
			padding: 22px 0
			li
				display: block
				float: left
				margin-right: 21px
				a
					color: inherit
					&:after
						content: ''
						display: none
						width: 100%
						height: 2px
						background: #ed1c24
						position: absolute
						bottom: -25px
						left: 0
				&:last-child
					margin-right: -3px
				&.active, &:hover
					a
						color: #ed1c24
						position: relative
						text-decoration: none
						&:after
							display: block
	&__phones
		display: block
		overflow: hidden
		height: 36px
		box-sizing: border-box
		border-radius: 18px
		border: 1px solid #000
		margin-top: 16px
		width: 241px
		margin-left: 6px
		position: relative
		&:after
			content: '\f0d7'
			font-family: fontawesome
			font-size: 12px
			position: absolute
			top: 8px
			right: 13px
			cursor: pointer
		ul
			position: absolute
			width: 100%
			background: $white
			box-sizing: border-box
			border-radius: 18px
		li
			height: 34px
			line-height: 33px
			.city
				float: left
				margin-left: 18px
				width: 60px
			.number
				float: left
				position: relative
				display: block
				margin-left: 21px
				height: 100%
				letter-spacing: -0.75px
				text-decoration: none
				color: inherit
				cursor: default
				&:before
					content: ''
					display: block
					margin-top: 6px
					width: 13px
					height: 22px
					position: absolute
					margin-left: -20px
					background: url(../images/phone.png) no-repeat
		&--active
			overflow: visible
			border: none
			&:after
				top: 9px
				right: 14px
				color: #ed1c24
			ul
				border: 1px solid #000
			li
				&:first-child, &:hover
					color: #ed1c24
					z-index: 10
					.number
						&:before
							background: url(../images/phone--hover.png) no-repeat
	&__languages
		display: block
		overflow: hidden
		height: 18px
		width: 40px
		box-sizing: border-box
		margin-top: 23px
		margin-left: -20px
		position: relative
		&:after
			content: '\f0d7'
			font-family: fontawesome
			font-size: 12px
			position: absolute
			top: 2px
			right: 0px
			cursor: pointer
		ul
			position: absolute
			width: 66px
			padding-left: 19px
			margin-left: -19px
			background: $white
			box-sizing: border-box
			li
				.lang
					width: 28px
					height: 18px
					display: block
					margin-bottom: 10px
				.lang--ua
					background: url(../images/ua.png) no-repeat
					background-size: 100%
				.lang--ru
					background: url(../images/ru.png) no-repeat
					background-size: 100%
				.lang--en
					background: url(../images/en.png) no-repeat
		&--active
			overflow: visible
			ul
				box-shadow: 0 6px 13px 0 rgba(0,0,0,0.1)
			&:after
				color: #ed1c24
	&__youtube
		width: 45px
		height: 45px
		display: block
		background: #ed1c24
		text-align: center
		border-radius: 50%
		line-height: 41px
		position: absolute
		right: -1px
		top: 11px
		+transition(0.3s ease-in-out)
		img
		&:hover
			background: #231f20