doctype html
- var title = "Main page";
include base/head.jade

body
	.wrapper
		//Header
		header.header
			.container
				.row
					.col-md-2
						a.header__logo(href="index.html")
							img(src="assets/images/logo.png", alt="Logo")
					.col-md-6
						nav.header__menu
							ul
								li.active
									a(href="") О компании
								li
									a(href="") Каталог
								li
									a(href="") Сервисное обслуживание
								li
									a(href="") Медиа центр
								li
									a(href="") Контакты
					.col-md-3
						.header__phones
							ul
								li
									.city Киев
									a.number(href="tel:+38(044)467-26-04") +38 (044) 467-26-04
								li
									.city Одесса
									a.number(href="tel:0(482)364-718(19)") 0 (482) 364-718 (19)
								li
									.city Днепр
									a.number(href="tel:+38(056)790-01-73") +38 (056) 790-01-73
								li
									.city Харьков
									a.number(href="tel:0(482)364-718(19)") 0 (482) 364-718 (19
								li
									.city Львов
									a.number(href="tel:+38(056)790-01-73") +38 (056) 790-01-73
					.col-md-1
						.header__languages
							ul
								li
									div.lang.lang--ua
								li
									a.lang.lang--ru(href="")
								li
									a.lang.lang--en(href="")
						a.header__youtube(href="http://youtube.com", target="_blank")
							img(src="assets/images/youtube.png", alt="img")
		// /Header
		main.home
			// Slider section
			section.home__slider.slider
				.owl-carousel.owl-theme#owl-carousel-1
					.item.item-1
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-2
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-3
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
					.item.item-4
						.container
							.row
								.col-12.col-md-offset-1
									.slider__title НОВАЯ ЛИНЕЙКА
										br
										| ПОГРУЗЧИКОВ KALMAR
									.slider__descr Компания Kalmar, представила новую линейку погрузчиков для обработки 
										br
										| порожних контейнеров на территории контейнерной базы Мюнхена.
									a.slider__btn(href="#") УЗНАТЬ ПОДРОБНЕЕ
				a.slider__down(href="#categories")
					span
			// /Slider section
			// Categories section
			section.home__categories.categories#categories
				.container
					.row
						.col-md-12
							h2.categories__title категории

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-1.jpg", alt="img")
							.item__title Применение в промышленности
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-2.jpg", alt="img")
							.item__title Применение в ТЕРМИНАЛАХ
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item

						// Category item
						.col-md-4.categories__item.item.col-sm-12
							img.item__img(src="assets/images/content/category-3.jpg", alt="img")
							.item__title ДОПОЛНИТЕЛЬНАЯ КОМПЛЕКТАЦИЯ И ШИНЫ
							.item__content
								a.content-link(href="")
									img(src="assets/images/brands/brand-1.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-2.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-3.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-4.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-5.png", alt="img")
								a.content-link(href="")
									img(src="assets/images/brands/brand-6.png", alt="img")
						// /Category item
			// /Categories section
			// Catalog section
			section.home__catalog.catalog
				.container
					.row
						.col-md-12
							.catalog__title скачать каталог техники
						.col-md-6
							img.catalog__newspaper.wow.fadeInLeft(src="assets/images/newspaper.png", alt="img")
						.col-md-6
							.catalog__descr.wow.fadeInRight
								| Мы предлагаем лучшее оборудование для обработки грузов на открытых площадках, в складских комплексах и распределительных центрах. 
								br
								br
								| Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики и штабелеры, ричстакеры, погрузчики для обработки контейнеров, терминальные тягачи и тяжеловозы, козловые и портальные крановые установки.
						.col-md-12
							a.catalog__btn.wow.bounceIn(href="assets/download/price.pdf", target="_blank") СКАЧАТЬ в pdf
			// /Catalog section
			// Video section
			section.home__video.video
				.container
					.row
						.col-md-12
							img.video__bg(src="assets/images/bg-video-min.jpg", alt="img")
							iframe.video__yt(width="826", height="410", src="https://www.youtube.com/embed/jmcGOL1KdLM?cc_load_policy=1&showinfo=0", allowfullscreen)
							//- button.video__btn#video-btn СМОТРЕТЬ ВИДЕО
			// /Video section
			// News section
			section.home__news.news
				.container
					.row
						.col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0
							h2.news__title НОВОСТИ
							.owl-carousel.owl-theme#owl-carousel-2
								//News item
								.item
									img(src="assets/images/content/news-1.jpg", alt="img").item__img
									.item__title КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА
									.item__descr Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-2.jpg", alt="img").item__img
									.item__title KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН
									.item__descr Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-1.jpg", alt="img").item__img
									.item__title КОМПАНИЯ ФОРКС ПРИГЛАШАЕТ ПОСЕТИТЬ СОБЫТИЕ ТОС ЕВРОПА
									.item__descr Уважаемые Клиенты, в  Амстердаме состоится одно из основных событий портовой отрасли – ТОС Европа.
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item
								//News item
								.item
									img(src="assets/images/content/news-2.jpg", alt="img").item__img
									.item__title KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН
									.item__descr Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG  
									a.item__link(href="#") УЗНАТЬ БОЛЬШЕ
									.item__date 26 апреля, 2017
								// /News item

			// /News section
	include base/footer.jade