@import 'base/reset'
@import 'base/mixins'
@import 'base/fonts'
@import 'base/variables'

body
	background: $white
	font-family: $default-fonts
	font-size: 14px
	color: #231f20
	position: relative
	width: 100%
	overflow-x: hidden
	min-width: $min-width
html, body
	height: 100%
.wrapper
	min-height: 100%
	height: auto !important
	height: 100%
main
	display: block
	padding-bottom: $footer-height
footer
	margin-top: -$footer-height

@keyframes anima-down
	0%
		margin-top: 4px
		opacity: 1
	50%
		opacity: 0.6
	80%
		opacity: 0.2
	100%
		margin-top: 18px
		opacity: 0

@import 'layout/header'
@import 'components/bootstrap'
@import 'components/owl.carousel'
@import 'components/owl.theme.default'
@import 'components/animate'
@import 'pages/home'
@import 'layout/footer'