@media only screen and (max-width: 1169px) {
  .home .home__slider .owl-carousel.owl-theme .owl-dots {
    position: static;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }
  .home .categories .item {
    margin: 0 auto;
    float: none;
    margin-bottom: 28px;
  }
  .home .categories .item:last-child {
    margin-right: auto;
  }
  .home .catalog__btn {
    margin-top: 50px;
  }
  .home .catalog__newspaper {
    margin-left: 0;
    max-width: 100%;
    height: auto;
  }
  .home .video {
    padding-bottom: 70px;
  }
  .home .video__bg {
    display: none;
  }
  .home .video__yt {
    position: static;
    -webkit-transform: none !important;
       -moz-transform: none !important;
        -ms-transform: none !important;
         -o-transform: none !important;
            transform: none !important;
    margin: 0 auto;
    display: block;
    max-width: 90%;
  }
  .home .news .col-sm-12 {
    width: 100%;
    margin-left: 0;
  }
  .footer {
    height: auto;
  }
  .footer__logo {
    margin: 0 auto;
    float: none;
    display: table;
    margin-bottom: 20px;
  }
  .footer__menu ul li {
    display: table;
    float: none;
    margin: 0 auto;
  }
  .footer__menu ul li:last-child {
    margin-right: auto;
  }
  .footer__partners {
    margin: 0 auto;
  }
  .footer__partners-list {
    display: table;
    width: 100%;
    padding-left: 0;
  }
  .footer__partners-list a {
    float: none;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer__partners-list a:last-child {
    margin-right: auto;
  }
  .footer__copyright span {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}
