footer.footer
	.container
		.row
			.col-md-4
				a.footer__logo(href="index.html")
					img(src="assets/images/logo-footer.png", alt="")
			.col-md-8
				nav.footer__menu
					ul
						li
							a(href="") Киев
						li
							a(href="") Одесса
						li
							a(href="") Днепропетровск
						li
							a(href="") Харьков
						li
							a(href="") Львов
		.row
			.col-md-4
				span.footer__partners АФФИЛИРОВАННЫЕ партнеры:
			.col-md-8
				.footer__partners-list
					a(href="#")
						img(src="assets/images/footer/1.png", alt="")
					a(href="#")
						img(src="assets/images/footer/2.png", alt="")
					a(href="#")
						img(src="assets/images/footer/3.png", alt="")
					a(href="#")
						img(src="assets/images/footer/4.png", alt="")
		.row
			.col-md-12.footer__copyright 
				span Сайт разработан в студии Abweb 
					a(href="http://abweb.com.ua", target="_blank") abweb.com.ua
script(src='assets/js/jquery-2.2.4.min.js')
script(src='assets/js/owl.carousel.min.js')
script(src='assets/js/wow.min.js')
script(src='assets/js/main.min.js')