head(lang="ru")
	meta(charset="UTF-8")
	meta(name="author", content="Asight.ru")
	meta(name="viewport", content="width=device-width, user-scalable=1")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title #{title}
	link(rel="icon", type="image/png", href="assets/images/ico/favicon.png")

	| 
	|<!--[if lte IE 9]>
	|	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	|	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	|<![endif]-->

	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
	link(rel='stylesheet', href='assets/css/main.min.css')
	link(rel='stylesheet', href='assets/css/responsive.min.css')
