.home
	//section__slider
	&__slider
		padding-top: 67px
		background: rgb(26,25,25)
		position: relative
		.owl-carousel.owl-theme
			.item
				height: 680px
				img
					opacity: 0.5
				&-1
					background: url(../images/bg-1-min.jpg) no-repeat
					background-position: center -68px
				&-2
					background: url(../images/bg-2-min.jpg) no-repeat
					background-position: center -68px
				&-3
					background: url(../images/bg-3-min.jpg) no-repeat
					background-position: center -68px
				&-4
					background: url(../images/bg-4-min.jpg) no-repeat
					background-position: center -68px
			.container
				position: relative
			.owl-dots
				position: absolute
				top: -372px
				right: 78px
				transform: rotate(90deg)
			.owl-dot
				margin-bottom: 2.25px
				span
					width: 6px
					height: 6px
					color: $white
					margin-right: 1px
			.owl-dot.active
				margin-bottom: 0
				span
					width: 11px
					height: 11px
					background: $white
					opacity: 1
	.slider__title
		color: $white
		font-size: 38px
		font-weight: bold
		padding-top: 165px
		letter-spacing: 2px
		line-height: 46px
		&:after
			content: ''
			display: block
			background: $white
			width: 107px
			height: 5px
			margin-top: 8px
			margin-left: 5px
	.slider__descr
		color: $white
		font-size: 20px
		padding-top: 26px
		padding-left: 5px
	.slider__btn
		margin-top: 69px
		width: 262px
		height: 60px
		display: block
		line-height: 57px
		text-align: center
		font-size: 18px
		color: #231f20
		background: url(../images/button.png) no-repeat
		background-position: center
	.slider__down
		width: 19px
		height: 30px
		display: block
		background: url(../images/next.png) no-repeat
		background-position: center
		position: absolute
		left: 50%
		margin-left: -7.5px
		bottom: 96px
		z-index: 2
		span
			width: 3px
			height: 7px
			display: block
			background: url(../images/point.png) no-repeat
			margin: 0 auto
			margin-top: 4px
			animation: anima-down 1.75s infinite
	//section home__categories
	.categories
		padding-bottom: 74px
		&__title
			text-transform: uppercase
			font-size: 36px
			line-height: 44px
			padding-top: 94px
			padding-bottom: 90px
			text-align: center
			font-weight: bold
		.item
			padding: 0
			width: 371px
			margin-right: 28px
			margin-bottom: 28px
			position: relative
			&:last-child
				margin-right: 0
			&__img
				max-width: 100%
				height: auto
			&__title
				position: absolute
				top: 50%
				left: 0
				width: 100%
				text-align: center
				transform: translateY(-50%)
				color: $white
				font-size: 26px
				text-transform: uppercase
				padding-top: 4px
				line-height: 34px
				+transition(0.3s ease-in-out)
			&__content
				visibility: hidden
				opacity: 0
				position: absolute
				top: 100px
				padding: 44px 34px
				padding-top: 244px
				box-sizing: border-box
				+transition(0.3s ease-in-out)
				.content-link
					width: 150px
					height: 80px
					display: block
					box-sizing: border-box
					border: 3px solid $white
					background: $white
					float: left
					margin-right: 3px
					margin-bottom: 3px
					text-align: center
					line-height: 76px
					+transition(0.3s ease-in-out)
					img
						max-width: 100%
						height: auto
					&:nth-child(2n)
						margin-right: 0
					&:hover
						border: 3px solid #ed1c24
			&:hover
				.item__content
					visibility: visible
					opacity: 1
					padding-top: 44px
				.item__title
					height: 105px
					background: #ed1c24
					top: 0
					transform: none
					padding: 26px 20px
					font-size: 22px
					line-height: 28px
	//section home__catalog
	.catalog
		background: rgba(225,0,25,1)
		background: -moz-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,0,25,1)), color-stop(0%, rgba(225,0,25,1)), color-stop(0%, rgba(225,0,26,1)), color-stop(35%, rgba(142,20,42,1)), color-stop(81%, rgba(34,46,62,1)), color-stop(100%, rgba(34,46,62,1)))
		background: -webkit-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
		background: -o-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
		background: -ms-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
		background: linear-gradient(to right, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
		padding-bottom: 92px
		&__title
			font-size: 39.25px
			font-weight: bold
			text-align: center
			text-transform: uppercase
			color: $white
			padding-top: 90px
			padding-bottom: 60px
		&__newspaper
			margin-left: -85px
			margin-top: 18px
		&__descr
			color: $white
			font-size: 16px
			box-sizing: border-box
			padding-left: 72px
			padding-right: 20px
			padding-top: 14px
			line-height: 24px
		&__btn
			width: 240px
			height: 66px
			display: block
			line-height: 62px
			text-align: center
			font-size: 18px
			color: #231f20
			background: url(../images/button--pdf.png) no-repeat
			background-position: center		
			margin: 0 auto
			text-transform: uppercase
			margin-top: -50px
	//section home__video
	.video
		padding-top: 108px
		position: relative
		.container
			padding: 0
		&__bg
		&__yt
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			border: 0
		&__btn
			position: absolute
			left: 50%
			top: 50%
			margin-top: -5px
			transform: translate(-50%, -50%)
			width: 276px
			height: 70px
			line-height: 67px
			display: block
			text-align: center
			background: url(../images/button--play.png) no-repeat
			background-position: center
			border: 0
			font-size: 18px
			color: #231f20
			outline: none
			&:before
				content: '\f04b'
				font-family: fontawesome
				font-size: 20px
				margin-right: 13px
	//section home__news
	.news
		padding-top: 85px
		position: relative
		padding-bottom: 90px
		.owl-prev
			position: absolute
			left: -107px
			top: 50%
			margin-top: -12px
			background: transparent
			&:after
				content: '\f053'
				font-family: fontawesome
				position: absolute
				color: #333
				font-size: 18px
				left: 0
			&:hover
				background: transparent
				&:after
					color: #ed1c24
		.owl-next
			position: absolute
			right: -89px
			top: 50%
			margin-top: -12px
			background: transparent
			&:after
				content: '\f054'
				font-family: fontawesome
				position: absolute
				color: #333
				font-size: 18px
				right: 0
			&:hover
				background: transparent
				&:after
					color: #ed1c24
		.col-md-10
			padding: 0
			width: 85%
		&__title
			font-size: 36px
			color: #3a3a3a
			font-weight: bold
			text-align: center
			letter-spacing: 1.5px
			padding-bottom: 67px
		.item
			margin-right: 22px
			margin-left: 4px
			height: 434px
			position: relative
			&:after
				content: ''
				display: block
				height: 5px
				width: 100%
				background: rgba(225,0,25,1)
				background: -moz-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
				background: -webkit-gradient(left top, right top, color-stop(0%, rgba(225,0,25,1)), color-stop(0%, rgba(225,0,25,1)), color-stop(0%, rgba(225,0,26,1)), color-stop(35%, rgba(142,20,42,1)), color-stop(81%, rgba(34,46,62,1)), color-stop(100%, rgba(34,46,62,1)))
				background: -webkit-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
				background: -o-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
				background: -ms-linear-gradient(left, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
				background: linear-gradient(to right, rgba(225,0,25,1) 0%, rgba(225,0,25,1) 0%, rgba(225,0,26,1) 0%, rgba(142,20,42,1) 35%, rgba(34,46,62,1) 81%, rgba(34,46,62,1) 100%)
				position: absolute
				bottom: 0
				left: 0
			&__img
				max-width: 100%
			&__title
				font-size: 16px
				font-weight: bold
				color: #303030
				text-transform: uppercase
				box-sizing: border-box
				padding-left: 25px
				padding-top: 23px
				line-height: 24px
			&__descr
				box-sizing: border-box
				font-size: 16px
				padding-left: 25px
				padding-top: 11px
				line-height: 24px
			&__link
				font-size: 12px
				color: #929497
				float: right
				position: absolute
				bottom: 17px
				right: 47px
				&:after
					content: '\f067'
					font-family: fontawesome
					position: absolute
					right: -18px
			&__date
				position: absolute
				left: 20px
				top: 18px
				color: $white
				background: #ed1c24
				width: 106px
				height: 30px
				text-align: center
				font-size: 11.35px
				line-height: 30px